@page
@model Livro.Pages.AboutModel
@{
	ViewData["Title"] = "Info";
}
<!-- about -->
      <div id="about"  class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>Despre Livro</h2>
                     <span></span>
                     <p>Livro este o platforma web cu o aplicatie integrata prin care conectam consumatorii la clientii nostrii, cei care ofera anumite servicii, fie ca sunt ele de productie, distributie sau livrare. Pentru mai multe informatii puteti consulta sectiunea <a asp-page="/Utile" class="font-weight-bold">DOCUMENTE UTILE.</a></p>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="about_img">
                     <figure><img src="images/about_img.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
