@page
@model Livro.Pages.UtileModel
@{
	ViewData["Title"] = "Documente";
}
<!-- about -->
      <div id="about"  class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage">
                     <a href="~/files/GDPR.pdf"><h2>Politica privind protectia datelor</h2></a>
                     <span></span>
                     
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="titlepage">
                     <a href="~/files/Termeni.pdf"><h2>Termeni si conditii de utilizare</h2></h3></a>
                     <span></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->